---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/validate?access_key=test_access_key&country_code=US&number=4158586273
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 2bd5c586-2a28-4878-a462-37baf90b9f99
      X-Request-Time:
      - '0.009'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":500,"type":"","info":""}}'
  recorded_at: Wed, 28 Jun 2017 17:58:37 GMT
recorded_with: VCR 3.0.3
