---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/validate?access_key&country_code=US&number=4158586273
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - e6b82e44-36b0-475f-9884-ad41259ac1e2
      X-Request-Time:
      - '0.002'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":101,"type":"missing_access_key","info":"You
        have not supplied an API Access Key. [Required format: access_key=YOUR_ACCESS_KEY]"}}'
  recorded_at: Wed, 28 Jun 2017 16:07:26 GMT
recorded_with: VCR 3.0.3
