---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/validate?access_key=test_access_key&country_code=US&number=ABCDE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 04cad14c-ce94-4df0-960f-73c1c546a93e
      X-Request-Time:
      - '0.008'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":211,"type":"non_numeric_phone_number_provided","info":"Please
        specify a numeric phone number. [Example: 14158586273]"}}'
  recorded_at: Wed, 28 Jun 2017 17:51:28 GMT
recorded_with: VCR 3.0.3
